<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="display:flex;height:700px;justify-content: center;align-items: center;">
  <div class="mycalc">
    <input #box (keyup.enter)="calculatex(box.value)" [(ngModel)]="toshow" type="text">
    <div class="all-btn">
      <div class="all-btn-numbers">
        <button (click)="writetoinput('1')">1</button>
        <button (click)="writetoinput('2')">2</button>
        <button (click)="writetoinput('3')">3</button>
        <button (click)="writetoinput('4')">4</button>
        <button (click)="writetoinput('5')">5</button>
        <button (click)="writetoinput('6')">6</button>
        <button (click)="writetoinput('7')">7</button>
        <button (click)="writetoinput('8')">8</button>
        <button (click)="writetoinput('9')">9</button>
        <button (click)="writetoinput('0')">0</button>
        <div class="btn-extra">
          <button (click)="writetoinput('.')">.</button>
          <button (click)="sliceit()">back</button>
        </div>
      </div>
      <div class="all-btn-signs">
        <button (click)="writetoinput('+')">+</button>
        <button (click)="writetoinput('-')">-</button>
        <button (click)="writetoinput('*')">*</button>
        <button (click)="writetoinput('/')">/</button>
      </div>
    </div>
    <div class="btn-clear-equals">
       <button id="clear" (click)="clearit()">C</button>
       <button id="equals" (click)="evaluate()">=</button>
    </div>
  </div>
  </div>